In [19]:
import pandas as pd
import re

In [20]:
df = pd.read_csv('Data_Train.csv')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [22]:
df.duplicated().sum()

220

In [23]:
df.isna().sum().sum()

2

In [24]:
df.drop_duplicates(inplace=True, ignore_index=True)
df.dropna(inplace=True,ignore_index=True)

In [25]:
df['Total_Stops'] = df['Total_Stops'].replace('non-stop', '0')
df['Total_Stops'] = df['Total_Stops'].replace(r'(\d+)\s*stops?', r'\1', regex=True)

In [26]:
df['Total_Stops'] = df['Total_Stops'].astype(int)

In [27]:
df['Date_of_Journey'] = pd.to_datetime(df['Date_of_Journey'], format='%d/%m/%Y')

In [28]:
df["Duration"][:10]

0     2h 50m
1     7h 25m
2        19h
3     5h 25m
4     4h 45m
5     2h 25m
6    15h 30m
7     21h 5m
8    25h 30m
9     7h 50m
Name: Duration, dtype: object

In [29]:
def convert_duration_to_minutes(duration):
    match = re.match(r'(?:(\d+)h)?\s*(?:(\d+)m)?', duration)
    hours = int(match.group(1)) if match.group(1) else 0 
    minutes = int(match.group(2)) if match.group(2) else 0 
    total_minutes = hours * 60 + minutes
    return total_minutes

In [30]:
df['Duration'] = df['Duration'].apply(convert_duration_to_minutes)

In [31]:
df["Duration"][:10]

0     170
1     445
2    1140
3     325
4     285
5     145
6     930
7    1265
8    1530
9     470
Name: Duration, dtype: int64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10462 entries, 0 to 10461
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10462 non-null  object
 1   Date_of_Journey  10462 non-null  datetime64[ns]
 2   Source           10462 non-null  object
 3   Destination      10462 non-null  object
 4   Route            10462 non-null  object
 5   Dep_Time         10462 non-null  object
 6   Arrival_Time     10462 non-null  object
 7   Duration         10462 non-null  int64
 8   Total_Stops      10462 non-null  int32
 9   Additional_Info  10462 non-null  object
 10  Price            10462 non-null  int64
dtypes: datetime64[ns](1), int32(1), int64(2), object(7)
memory usage: 858.3+ KB

In [38]:
df.to_csv('cleaned_data.csv', index=False)